@model List<Rental>
@using Microsoft.AspNetCore.Identity
@using PedalHub.Areas.Identity.Data
@using PedalHub.Data

@inject UserManager<PedalHubUser> UserManager
@inject PedalHubContext context

@{
    ViewData["Title"] = "Rentals";
}

<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>

<center>
    <h1>Rentals</h1>
    <hr />

    <table>
        @if (Model.Count == 0)
        {
            <tr>No rentals found.</tr>
        }
        else
        {
            <p>The following table shows bike rentals which can be edited/deleted.</p>
            <tr style="background-color: lightgrey;">
                <th>Rental ID</th>
                <th>User ID</th>
                <th>User Email</th>
                <th>Bike ID</th>
                <th>Bike Name</th>
                <th>Ongoing Rental</th>
                <th>Total Price</th>
                <th>Duration</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            @foreach (var rental in Model)
            {

                var user = UserManager.FindByIdAsync(rental.UserId).Result;
                var bike = context.Bike.Where(b => b.Id == rental.BikeId).First();

                <tr>
                    <td>@rental.Id</td>
                    <td>@rental.UserId</td>
                    <td>@user.UserName</td>
                    <td>@rental.BikeId</td>
                    <td>@bike.Name</td>
                    <td>@(rental.IsOngoing ? "Yes" : "No")</td>
                    <td>@(rental.TotalPrice.HasValue ? rental.TotalPrice.ToString() : "-")</td>
                    <td>@(rental.Duration.HasValue ? rental.Duration.ToString() : "-")</td>
                    <td>@rental.CreatedAt</td>
                    <td>
                        <a asp-controller="Rentals" asp-action="Modify" class="btn btn-success" asp-route-id="@rental.Id">Modify</a>
                        <a asp-controller="Rentals" asp-action="Delete" class="btn btn-danger" asp-route-id="@rental.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>



</center>